doctype html
html(lang="en")
  head
    title Hola
    meta(charset="utf-8")
    link(href="css/main.less" rel="stylesheet/less" type="text/css")
    link(href="css/animate.css" rel="stylesheet" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    script(src="js/less.js")
  body
    p(class="animated fadeIn gr") Hola
    p(class="animated fadeIn gr delay-1") Hola
