doctype html
html(lang="en")
  head
    title Hola
    meta(charset="utf-8")
    link(href="css/main.less" rel="stylesheet/less" type="text/css")
    link(href="css/animate.css" rel="stylesheet" type="text/css")
    link(href="css/fbg.css" rel="stylesheet" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    script(src="js/less.js")
  body
    nav(class="")
      ul(class="black row center-xs middle-xs")
        li(class="col-md") inicio
        li(class="col-md") articulos
        li(class="col-md") contactanos
      img(src="img/imgP.jpg")
        
