doctype html
html(lang="en")
  head
    title Hola
    meta(charset="utf-8")
    link(href="css/main.less" rel="stylesheet/less" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    script(src="js/less.js")
  body
    p.green Hola mundo
    p.green Como estas?
