doctype html
html(lang="en")
  head
    title Vector BR
    meta(charset="utf-8")
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    link(href="/css/main.less" rel="stylesheet/less" type="text/css")
    link(href="/css/animate.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css')
    link( href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css')
    script(src="/js/less.js")
  body
    nav(class="large-padding text-center col-md-12")
      ul(class="no-list animated fadeIn delay-1 padding-top")
        li(class="col-md-3 col-sm-3 col-xs-3 inline-block bigger ")
          a(href="/" class="pacifico Rojo") VectorBR
        li(class="col-md-3 col-sm-3 col-xs-3 inline-block")
          a(href="contacto" class="Blanco") Contactanos
        li(class="col-md-3 col-sm-3 col-xs-3 inline-block")
          a(href="canciones" class="Wine") Canciones
    block contenido      
    
