@red: rgb(233, 35, 47);
@darkRed: rgb(138, 10, 32);
@wine: rgb(66, 10, 43);
@white: rgb(244, 240, 242);
@green: rgb(87, 210, 149);
@darkGreen: rgb(38, 161, 100);
@purple: rgb(43, 33, 45);
@negro: rgb(8, 8, 8);
@font1: 'Ubuntu', sans-serif;
@font2: 'Bangers', cursive;
*{
  font-family: @font1;
}
html{
  .BeBlanco;
}
.Rojo{
  color: @red;
}
.DarkRed{
  color: @darkRed;
}
.Wine{
  color: @wine;
}
.Blanco{
  color: @white;
}
.Verde{
  color: @green;
}
.Morado{
  background-color: @purple;
}
.BeRojo{
  background-color: @red;
}
.BeDarkRed{
  background-color: @darkRed;
}
.BeWine{
  background-color: @wine;
}
.BeBlanco{
  background-color: @white;
}
.BeVerde{
  background-color: @green;
}
.BeMorado{
  background-color: @purple;
}
.logo{
  display: block;
  margin: auto;
  width: 470px;
}
.header{
  .BeRojo;
  box-shadow: 0px 0px 10px @negro;
}
.quitar-float{
  float: none !important;
}
.espacio-izquierda{
  margin-left: 2em;
}
img{
  max-width: 100%;
}
h1{
  padding-top: 10px !important;
  font-family: @font2;
  font-size: 4em;

}
div{
  .cont{
    margin-top: -20px;
  }
}
a{
  .Verde;
  font-size: 1.2em;
  transition: .5s;
}
a:hover{
  text-decoration: none;
  color: @darkGreen;
  letter-spacing: 3px;
}
