extends ../layout.jade
block contenido
  section(class="noBg no-margin-top animated prin" style="background-image: url(/img/disco.jpg); background-size:cover; height: 500px;")
    .text-center
      h1(class="Wine inline-block quitar-float pacifico animated fadeIn delay-1") Canciones.
